<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Example.IRCTCWhereismyTrain">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <activity android:name="com.Example.IRCTCWhereismyTrain.activity.ActivitySettings" />
        <activity android:name="com.Example.IRCTCWhereismyTrain.activity.ActivityMainPNRStatus" />
        <activity android:name="com.Example.IRCTCWhereismyTrain.activity.ActivityMainStationLive" />
        <activity android:name="com.Example.IRCTCWhereismyTrain.activity.ActivityMainTrainSchedule" />
        <activity android:name="com.Example.IRCTCWhereismyTrain.activity.ActivityMainStatusLive" />
        <activity android:name="com.Example.IRCTCWhereismyTrain.activity.ActivityMainTicketBook" />
        <activity android:name="com.Example.IRCTCWhereismyTrain.activity.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.Example.IRCTCWhereismyTrain.activity.ActivityMain" />


    </application>

</manifest>